.Button {
    background-color: transparent;
    border: 3px solid #ccc;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font: inherit;
    margin: 5px 15px;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #ccc;
    background-color: rgb(87, 87, 86);
    cursor: not-allowed;
}

.Success {
    color: rgba(12, 12, 12, 0.972);
    background-color: #5C9210;
}

.Danger {
    color: #944317;
}