/* Glyphicons*/
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

.Dropdown {
    position: relative;
    display: block;
    float: right;
    padding: 0px;
    margin-left: 300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:30px;
    right:0px;
    width: 200px;
    background-color: darkgray;
    font-weight:bold;
    position: absolute;

    box-shadow: 1px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    opacity: .9;
}
li a {
    color: #000;
    text-decoration: none;
}
li {
    padding: 8px 16px;
    border-bottom: 1px solid #e5e5e5;
}
li:last-child {
    border-bottom: none;
}
li:hover {
    background-color: #e5e5e5;
    color: white;
}
.Dropdown .Button{
    width:100px;
    height:20px;
    background-color: whitesmoke ;
    padding: 3px;
    margin-top: 2px;
    border-radius:5px;
    font-weight:bold;
    color:  #000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.Dropdown .Button:before{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border: 9px solid;
    border-color: #000 transparent transparent transparent;
    right: 10px;
    top:10px;
} 

h1 {
    margin-bottom: 50px;
  }
  .col-sm-8 {
    background: #fff;
    border: 1px solid #8b7ecd;
    border-radius: 3px;
  }
  small {
    color: #5bc0de;
  }
  span.active {
    color: #9C27B0;
  }
  small.active {
    color: #9C27B0;
    font-weight: 700;
  }
  h4 {
    font-size: 20px;
  }
  .btn .caret {
    margin-left: 5px;
  }
  .author {
    padding: 50px 0 0;
    color: #9C27B0;
  }
  .media-left img {
    border: 1px solid #9C27B0;
    border-radius: 3px;
  }
  .dropdownmenu a {
    position: relative;
  }
  .glyphicon_ok {
    position: absolute;
    top: 4px;
    right: 15px;
  }
  