
.CreateProvider {
    width: 40%;
    height: 300px;
    padding: 2px;
    margin-right: 10px;
    border: 2px solid rgb(241, 238, 238);
    box-shadow: 1px 2px 3px #ccc;
    background-color: rgb(252, 247, 247);
    box-sizing: border-box;
}
.CreateProvider h3 {
    margin: 0;
}
