.App {
  width: 50%;
  height: auto;
  padding-left:  10px;
  border: 1px solid ;
  background-color: #9ea0a5;
  color: rgb(17, 14, 14);
}

.p {
  color: #737883;
  margin: 0;
}

.App h1 {
  margin: 0;
}